[build]
  base = "frontend"
  command = "npm install && npm run build"
  publish = "dist"

[functions]
  directory = "backend"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/netlify_api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
